section.potted-plant {
    padding: 100px 0;
    background-color: rgb(250, 234, 216);
    text-align: center;

    div.pot {
        div.row {
            [class*='col-md-3'] {

                div.block {
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @include respond-to('xxs') {
                        height: initial;
                        margin-bottom: 100px;
                    }

                    img.quotation {
                        margin-bottom: 30px;
                        height: 1.5em;
                    }
                }

                p {
                    margin-bottom: 20px;
                    font-size: 27px;
                    font-weight: 500;

                    @include respond-to('xxs') {
                        font-size: 20px;
                    }
                }

                img.logo {
                    height: 2em;
                }
            }
        }

        [class*='col-md-6'] {
            @include respond-to('xxs') {
                display: none;
            }

            img {
                width: 65%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}